# Исключаем .env файл
.env

# Исключаем кэш Python
__pycache__/
*.pyc

# Исключаем виртуальное окружение
venv/
env/

# Исключаем логи и временные файлы
*.log
*.tmp

# Исключаем IDE-специфичные файлы
.vscode/
.idea/

# Исключаем дистрибутивы
dist/
build/
*.egg-info/
